@charset "utf-8";

.container {
  width: min(100% - 30px, 500px);
  margin-inline: auto;
}

body {
  background-color: #eaeaea;
}

main {
  margin-top: 100px;
}

h1 {
  text-align: center;
}

.grid-container {
  display: grid;
  place-items: center;
  height: 440px;
  grid-template-columns: repeat(5, 90px);
  grid-template-rows: repeat(4, 105px);
  /* grid-auto-rows: 140px; */
  /* grid-auto-rows: minmax(200px, auto); */
  grid-gap: 4px;
  border-radius: 5px;
  border: 1px solid #4a4a4a;
  background-color: #9a9898;
  /* grid-auto-columns: minmax(100px, auto); */
}

.box {
  display: flex;
  width: 80px;
  height: 80px;
  background-color: transparent;
  margin: 10px;
}

.createColourShape {
  display: flex;
  justify-content: space-evenly;
  place-items: center;
  margin-bottom: 10px;
}

select {
  width: 100px;
  height: 40px;
  background-color: #bcbaba;
  border-radius: 5px;
}

button {
  width: 80px;
  height: 40px;
  color: #eaeaea;
  background-color: #000000;
  border-radius: 5px;
}

.circle {
  border-radius: 50%;
}

.square {
  border-radius: 0;
}

.blue {
  background-color: #09f;
}

.green {
  background-color: #9f0;
}

.orange {
  background-color: #f90;
}

.pink {
  background-color: #f09;
}

.purple {
  background-color: #90f;
}

.info{
  background-color: #909090;
  text-align: center;
}